@font-face {
  font-display: swap;
}

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
$cyber: #8e44ad;
$cyber-invert: findColorInvert($cyber);
$sun: #f1c413;
$sun-invert: findColorInvert($sun);
$nomination: #2C85D6;
$nomination-invert: findColorInvert($nomination);

$info: #0c8cc6;

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "sun":($sun, $sun-invert),
  "cyber": ($cyber, $cyber-invert),
  "nomination": ($nomination, $nomination-invert),
);
$colors: map-merge($colors, $addColors);

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/helpers/all";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
//@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/content";
//@import "~bulma/sass/components/media";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/pagination";
@import "~bulma/sass/components/modal";
@import "~bulma/sass/form/shared";
@import "~bulma/sass/form/checkbox-radio";
@import "~bulma/sass/form/tools";
@import "~bulma/sass/helpers/spacing";

@import "./buefy";

@import "overrides";
@import "animated";

@import "custum";
