//
//#main-title {
//  font-size: 17pt;
//}
//
//@media screen and (max-width: 1230px) {
//  .mobile-padding {
//    padding-left: 1.25rem;
//    padding-right: 1.25rem;
//  }
//  .taginput.control {
//    height: 20%
//  }
//}
//
//@media screen and (min-width: 960px) {
//  .column .tags {
//    padding-top: 3%;
//  }
//}
//
//.content ol {
//  list-style: decimal outside;
//  margin-left: 0.75em;
//  margin-top: 0em;
//}
//
//.description {
//  font-family: "CentSchbook Mono BT", "Bitstream Vera Sans Mono", monofont, monospace;
//}
//
//a.is-inverted {
//  a {
//    color: $primary-invert;
//  }
//  a:hover {
//    color: $primary;
//  }
//}
//
//.content p {
//  white-space: pre-line;
//}
//
//
//th[width="40px"] {
//  display: none;
//}
//td.chevron-cell {
//  display: none;
//}

.sectionWrap {
  background-image: url("https://www.italent.org.ua/wp-content/uploads/2019/10/aboutBg.svg");
  background-size: cover;
  background-position: bottom -20px right 0px;
  z-index: -10;
  padding-top: 1vh;
  margin-top: -1vh;
  background-repeat: no-repeat;
}
