<template>
  <section class="container section">
    <div v-if="nomination" class="columns">
      <div class="column is-3">
        <b-dropdown>
          <template #trigger="{active}">
            <button class="button is-primary" slot="trigger">
              <span> {{ nomination.title }}</span>

              <b-icon :icon=" active ? 'chevron-up' : 'chevron-down'"></b-icon>
            </button>
          </template>
          <b-dropdown-item v-for="{node} of $static.nominations.edges"
                           :class="[node.id == nomination.id && 'is-active']" @click="toNomination(node.slug)"
                           :key="node.id">
            {{ node.title }}
          </b-dropdown-item>
        </b-dropdown>
      </div>
      <div class="column is-6 has-text-centered is-size-5"
           v-if="nomination.ageGrades && nomination.ageGrades.length > 1">
        <span>Молодша</span>
        <b-switch class="ml-3" v-model="ageGradeId" :true-value="nomination.ageGrades[1].id"
                  :false-value="nomination.ageGrades[0].id"></b-switch>
        <span>Старша</span>
        <span> вікова категорія</span>
      </div>

    </div>
    <div class="my-4">
      <div>
        <div class="tag is-success"></div>
        - Фіналіст
      </div>
      <div>
        <div class="tag is-warning"></div>
        - Не відповідає вимогам
      </div>
      <div>
        <div class="tag is-danger"></div>
        - Не пройшов валідацію
      </div>
    </div>
    <b-table :data="projects" :default-sort="['sumVote', 'desc']" detailed :row-class="rowClass">
      <template slot-scope="props" v-cloak>
        <b-table-column label="Участник">
            <span>
            {{ props.row.owner.firstName }}
            {{ props.row.owner.lastName }}
              </span>
          <template v-if="props.row.command">
            <br>
            <span class="has-text-grey">
              ( Команда {{ props.row.command.title }} )
            </span>
          </template>
        </b-table-column>
        <b-table-column label="Вік">
          {{ props.row.owner.age }}
        </b-table-column>
        <b-table-column label="Робота">
          {{ props.row.title }}
        </b-table-column>
        <b-table-column label="Місце">
          {{ props.row.place }}
        </b-table-column>
        <b-table-column label="Бал" sortable field="sumVote">
          {{ props.row.sumVote }}
        </b-table-column>
      </template>
      <template #detail="{row}">
        <template v-if="row.command && row.command.authors.length">
          <div class="field">
            <b class="has-text-weight-medium">Співатори</b>
            <div v-for="author of row.command.authors" :key="author.id">
              {{ author.firstName }} {{ author.lastName }}, {{ author.age }} років
            </div>
          </div>
        </template>
        <div style="display: flex; flex-direction: row">
          <div>
            <a :href="`https://reg.italent.org.ua/api/v0/storage/${row.previewFileId}/view`" target="_blank" v-if="row.previewFileId">
              <img :src="`https://reg.italent.org.ua/api/v0/storage/${row.previewFileId}/view`" width="300">
            </a>
          </div>
          <div class="ml-2 mb-2">
            <a :href="row.siteLink" v-if="row.siteLink" target="_blank">Посилання на онлайн версію проекту</a>
            <a :href="row.sourceLink" v-if="row.sourceLink" target="_blank">Вихідний код, посилання на Google Drive. Якщо не вмістилися разом з скомпільованою грою.</a>
            <a :href="`https://reg.italent.org.ua/api/v0/storage/${row.projectFileId}/download`" v-if="nomination.id == 15 || nomination.id == 13 || nomination.id == 6 || nomination.id == 8">
            <b-button v-if="row.projectFileId" tag="a" ref="_target"  >
              Завантажити
            </b-button>
            </a>
          </div>
        </div>
        <div v-for="field of ['pressVideo', 'procVideo', 'video', 'gameVideo']" v-if="row[field]" :key="field">
          <iframe width="460" height="315" :src="`https://www.youtube.com/embed/${getYoutubeVideoIdFromURL(row[field])}`" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div v-if="row.votesPerCriterion" class="mb-4">
          <table class="table">
            <thead>
            <tr>
              <th v-for="criterion of nomination.votableCriterions" v-text="criterion.title" :key="criterion.id"
                  v-if="row.votesPerCriterion[criterion.id]"/>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td v-for="criterion of nomination.votableCriterions" v-text="row.votesPerCriterion[criterion.id]" :key="criterion.id"
                  v-if="row.votesPerCriterion[criterion.id]"/>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="columns is-multiline">
          <div class="column is-6" v-for="comment of row.comments" :key="nomination.id">
            <div class="notification is-info is-light" style="white-space: pre-line;">
              <b class="has-text-weight-bold">{{ comment.sender.firstName }} {{ comment.sender.lastName }}</b>
              <p v-text="comment.text" class="is-italic"></p>
            </div>
          </div>
        </div>
      </template>
    </b-table>

    <b-notification has-icon :closable="false" class="mt-4">
      Скоро відобразимо усі роботи і усіх участників у кращому вигляді
    </b-notification>
  </section>
</template>
<script>
export default {
  name: 'NewNomination',
  data() {
    return {
      ageGradeId: null
    }
  },
  computed: {
    projects() {
      if (!this.$page) return []
      return this.$page.projects.edges.map((edge) => edge.node).filter((node) => node.nominationId == this.$page.nomination.id && node.ageGrade.id == this.ageGradeId)
    },
    nomination() {
      if (!this.$page) return {}
      return this.$page.nomination;
    }
  },
  methods: {
    rowClass(row) {
      switch (row.status) {
        case -1:
          return 'has-background-danger-light'
        case 3:
          return 'has-background-warning-light'
        case 4:
          return 'has-background-success-light'
      }
    },
    toNomination(nominationSlug) {
      this.$router.push({
        path: '/season7/' + nominationSlug
      })
    },
    getYoutubeVideoIdFromURL(url) {
      const groups = /youtu\.be\/(.+)|youtube\.com\/watch\?v=(.+)&.*|youtube\.com\/watch\?v=(.+)|youtube\.com\/embed\/(.+)\?/.exec(
          url,
      );

      if (groups instanceof Array) {
        return groups[4] ?? groups[3] ?? groups[2] ?? groups[1];
      }

      return null;
    }

  },
  watch: {
    nomination: {
      immediate: true,
      handler(nomination) {
        if (nomination && nomination.ageGrades) {
          this.ageGradeId = nomination.ageGrades[0].id
        }
      }
    },
  }
}
</script>
<static-query>
query {
  nominations: allNewNomination(order: ASC) {
    edges {
      node {
        id
        title
        slug
      }
    }
  }
}
</static-query>
<page-query>
query NewNomination($id: ID!) {
  nomination: newNomination (id: $id) {
    id
    title
    ageGrades {
      id
      fromAge
      toAge
    }
    votableCriterions {
      id
      title
    }
  }

  projects: allNewProject {
    edges {
      node {
        id
        title
        status
        nominationId
        owner {
          firstName
          lastName
          age
        }
        sumVote
        previewFileId
        projectFileId
        votesPerCriterion
        video
        pressVideo
        gameVideo
        place
        procVideo
        siteLink
        sourceLink
        comments {
          text
          sender {
            firstName
            lastName
          }
        }
        ageGrade {
          id
        }
        command {
          title
          authors {
            firstName
            lastName
            age
          }
        }
      }
    }
  }
}

</page-query>