<template>
    <Layout :season="$page.nomination.season" :chosed_nomination="$page.nomination.id">
        <div>
            <div class="hero is-primary ">
                <div class="hero-body title is-2 has-text-centered">iTalent {{$page.nomination.season}} сезон - {{$page.nomination.title}}</div>
            </div>

            <div class="field is-4 title has-text-centered"  v-if="$page.nomination.haveCategory == true && only_wrong === false" style="padding-top: 5px;">
                МОЛОДША <b-switch size="is-medium" v-model="highCategory"></b-switch>СТАРША ВІКОВА ГРУПА
            </div>

            <div class="container">
            <b-table
                    :data="$page.projects.edges.filter(node => ($page.nomination.haveCategory && only_wrong === false ? node.node.highCategory === highCategory : true) && node.node.estimated === !only_wrong)"
                    class="nomination-table"
                    ref="table"
                    paginated
                    :per-page="isMobile ? 15 : 30"
                    :opened-detailed="defaultOpenedDetails"
                    detailed
                    detail-key=""
                    @page-change=" (page) => defaultOpenedDetails = []"
                    :show-detail-icon="true"
                    :row-class="(row) => row.node.isWin ? 'notification is-success' : ''"
                    :sticky-header="!isMobile"
                    height="64vh"
            >
                <template slot-scope="props" v-cloak>
                    <b-table-column :field="index.toString()" :label="row" v-for="(row, index) in $page.nomination.header.slice(0, rows)" :key="index">
                        <template slot="header" slot-scope="{ column }" v-once>
                            {{ column.label }}
                        </template>
                        <p v-html="linker(props.row.node.row[index])"></p>
                    </b-table-column>
                </template>
                <template slot="detail" slot-scope="props">
                    <div v-for="(row, index) in $page.nomination .header" v-if="index >= rows && props.row.node.row[index]" :key="row">
                        <p v-html="'<b>'+row+'</b>: '+linker(props.row.node.row[index])"></p>
                    </div>
                </template>
            </b-table>
            <div class="has-text-centered" v-if="$page.nomination.haveWrong == true" style="padding-top: 10px">
                <b-checkbox size="is-large" v-model="only_wrong">Відобразити "РОБОТИ ЩО НЕ БУЛИ ОЦІНЕНІ ЗА ТЕХНІЧНИМИ ПРИЧИНАМИ"</b-checkbox>
            </div>
            </div>
        </div>
    </Layout>
</template>


<script>
    import { isMobile } from 'buefy/src/utils/helpers'
    export default {
        metaInfo(){
            var desc = `Таблця з результатами відбору у номінації ${this.$page.nomination.title}, ${this.$page.nomination.season} сезону iTalent. На сторінці зібрані ${this.$page.projects.edges.length} робіт.`;
            return {
                title: `${this.$page.nomination.title} ${this.$page.nomination.season} сезон, таблиця з результатами`,
                meta: [
                    { property: 'og:title', content: `iTalent ${this.$page.nomination.season} сезон, ${this.$page.nomination.title} таблиця з результатами` },
                    { property: 'og:description', content: desc },
                    { key: 'description', name: 'description', content: desc },

                ]
            }
        },

        data(){
            return {
                rows: 5,
                defaultOpenedDetails: [],
                highCategory: false,
                only_wrong: false,
                isMobile: isMobile.any() !== null
            }
        },
        async created() {
          this.$router.afterEach((from, to) => { //После смены номинации порой появляется лишний th, убераем его таким костылём
              this.only_wrong = false;
              setTimeout(() => {
                  if(typeof document === 'undefined') return;
                  let thlen = document.querySelectorAll('th').length;
                  if(this.rows < thlen){
                      for (let i = this.rows+1; i < thlen; i++) {
                          console.log(i);
                          document.querySelector('th:last-child').remove();
                      }
                  }
              }, 300)
          });

        },
        methods: {
            linker: function(text){ //from poltava.to
                var reLink=/https?:\/\/([a-zA-Z0-9.\/_#:?=&%;@+!-]+)/g;
                var html=text.replace(reLink,function(link){
                    var reDomain=/https?:\/\/([a-zA-Z0-9.-]+)/;
                    var reValid=/^([a-z0-9-]+\.)+[a-z]{2,4}$/;
                    if(reDomain.test(link)){
                        var domain=RegExp.$1;
                        if(reValid.test(domain)) return'<a href="'+link+'" style="text-decoration:none;" target="_blank">Лінк</a>';
                        else return link;
                    }
                    else return link;
                });
                return html;
            }
        }
    }
</script>

<page-query>
query Nomination($id: ID!) {
  nomination (id: $id) {
    id
    title
    header
    season
    haveCategory
    haveWrong
  }
  projects: allProject (sort: [{ by: "isWin" }, { by: "score" }], filter: {nominationId: {eq: $id}}){
    edges{
      node {
       id
       title
       name
       isWin
       highCategory
       nominationId
       type
       row
       estimated
      }
    }
  }
}

</page-query>
