<template>
    <Layout :season="season" :chosed_nomination="currentNomination" winners_mode>
        <section v-for="(nomination) in $page.nominations.edges" class="sectionWrap" style="padding: 10pt 0pt" :id="nomination.node.id">
            <div class="hero is-primary">
                <div class="hero-body" v-waypoint="{ active: true, callback: waypointCallback}">
                    <p class="title is-1">{{nomination.node.title}} - {{nomination.node.season}} сезон iTalent</p>
                    <g-link :to="nomination.node.path" class="button is-medium is-success">Учасники</g-link>
                </div>
            </div>
            <div class="columns is-multiline container" v-for="type in (nomination.node.haveCategory ? [0, 1] : [0])">
                <div class="hero column is-full is-nomination is-bold" v-if="nomination.node.haveCategory">
                    <div class="hero-body">
                        <p class="title is-2">{{type == 0 ? 'Старша вікова гурпа' : 'Молодша вікова гурпа'}}</p>
                    </div>
                </div>
                <div class="column is-one-third-desktop is-full-mobile is-half-tablet" v-for="{node} in $page.winprojects.edges.filter((row) => (row.node.nomination_title === nomination.node.title) && (!nomination.node.haveCategory || row.node.highCategory == type))">
                    <div class="card">
                        <header class="card-header">
                            <div class="card-header-title">
                                <span class="tag is-medium is-light is-info">{{node.place}} 🏆</span>&nbsp;&nbsp;
                                <div class="columns is-multiline is-gapless">
                                    <p v-for="(person, index) in node.persons" class="column is-full">
                                        {{person.name}}, {{person.age}} років
                                    </p>
                                </div>
                            </div>
                        </header>
                        <div class="card-image"
                             v-waypoint="{active: activated_imgs[node.id] == undefined, callback: ({going}) => {
                                if(going === $waypointMap.GOING_IN) $set(activated_imgs, node.id, true);
                            }}"
                        >
                            <figure class="image is-16by9" style="text-align: center;" v-if="activated_imgs[node.id] === true || node.preview_type === 'image'">
                                <g-image v-if="node.preview_type === 'image' && node.tiny_image !== null" :src="node.tiny_image" class="project-image" @click="openImage(node.image)"/>
                                <img v-else-if="node.preview_type === 'image' && node.link !== null" :src="node.link" class="project-image" @click="openImage(node.image)"/>
                                <LazyYoutubeVideo v-else-if="node.preview_type === 'video'" :src="node.link.replace(/https:\/\/youtu\.be\/|https:\/\/www\.youtube\.com\/watch\?v=|&feature=youtu\.be/, 'https://www.youtube.com/embed/')"></LazyYoutubeVideo>
                                <p v-else-if="node.preview_type == 'none'" class="notification is-warning">Історія не донесла</p>
                                <a class="button is-link is-fullwidth " style="font-size: 3.5rem;" v-else-if="node.preview_type == 'link'" :href="node.link" target="_blank">
                                    <b-icon icon="external-link-alt" size="is-small"></b-icon>
                                </a>
                                <a class="button is-cyber is-fullwidth " style="font-size: 3.5rem;" v-else-if="node.preview_type == 'scratch'" :href="node.link" target="_blank">
                                    <b-icon icon="gamepad" size="is-small"></b-icon>
                                    <span>Scratch</span>
                                </a>
                                <p v-else>{{node.preview_type}}</p>

                            </figure>
                        </div>
                        <div class="card-content">
                            <p>{{node.school}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <b-modal :active.sync="modal.active" >
            <figure class="image">
                <g-image :src="modal.img_src" style="width: 100%"/>
            </figure>
        </b-modal>
    </Layout>
</template>

<script>
    import LazyYoutubeVideo from 'vue-lazy-youtube-video';
    import {Modal} from 'buefy/src/components';
    export default {
        name: "Season",
        components: {LazyYoutubeVideo, Modal},
        metaInfo(){
            return{
                title: `Переможці ${this.season} сезону.`
            }
        },
        data(){
            return {
                currentNomination: "-1",
                activated_imgs: {},
                modal: {
                    active: false,
                    img_src: ''
                }
            }
        },
        computed: {
            season(){
                return this.$page.nominations.edges[0].node.season;
            }
        },
        methods:{
            waypointCallback({going, el}) {
                if (going === this.$waypointMap.GOING_IN) {
                    this.currentNomination = el.parentNode.parentNode.id;
                }
            },
            openImage(img_src){
                this.modal.img_src = img_src;
                this.modal.active = true;
            }
        }
    }
</script>
<page-query>
    query Season($id: ID!) {
        winprojects: allWinnerProject (sort: [{ by: "place", order: ASC }, { by: "nomination_title" }], filter: {season: {eq: $id}}){
            edges{
                node {
                    id
                    season
                    place
                    highCategory
                    nomination_title
                    school
                    persons {
                        name
                        age
                    }
                    link
                    tiny_image: image(width: 400)
                    image
                    preview_type
                }
            }
        }
        nominations: allNomination (sortBy: "title", order: ASC, filter: {season: {eq: $id}}) {
            edges {
                node {
                    id
                    title
                    season
                    path
                    haveCategory
                }
            }
        }
    }

</page-query>
<style scoped lang="scss">
    .project-image{
        object-fit: cover;
        height: 480px;
        cursor: pointer;
    }
    @import '~vue-lazy-youtube-video/dist/style.css';
</style>
