<template>
    <Layout :season="currentSeason" :chosed_nomination="currentGame" winners_mode>
        <section v-for="{node} in $static.full_data.edges" class="sectionWrap">
            <div class="hero is-primary">
                <div class="hero-body">
                    <p class="title is-1">Кіберспортсмени-переможці {{node.season}} сезону iTalent</p>
                </div>
            </div>

            <div class="container" v-for="game in node.games" :id="(node.season + game)">
                <br>

                <div class="hero is-cyber is-bold" v-waypoint="{ active: true, callback: waypointCallback}">
                    <div class="hero-body">
                        <p class="title is-2">{{game}}</p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-half" v-for="command in node.commands" v-if="command.game == game">
                        <div class="card has-background-white-ter">
                            <div class="card-header">
                                <div class="card-header-title title is-4">
                                    <span class="has-text-primary">{{command.place}} місце</span>&nbsp;«{{command.title}}»
                                </div>
                            </div>
                            <div class="card-content">
                                Склад:
                                <div class="content">
                                <ol>
                                    <li v-for="member in command.squad">{{member}}</li>
                                </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </section>
    </Layout>
</template>

<script>
    export default {
        name: "Cybersport",
        metaInfo: {
            title: "Кібрспортсмени",
            desc: "Сторінка з усіма кіберспорсменами які прийшли онлайн етап та потрапили на фінал"
        },
        data(){
            return {
                currentSeason: -1,
                currentGame: -1
            }
        },
        methods: {
            waypointCallback({going, el}) {
                if (going === this.$waypointMap.GOING_IN) {
                    let id = el.parentNode.id;
                    this.currentSeason = Number(id.charAt(0));
                    this.currentGame = id.substr(1);
                }
            }
        }
    }
</script>

<style scoped>
    .card-content{
        font-size: 1.25rem;
    }
</style>

<static-query>
query{
  full_data: allCyberSeason (sortBy: "seasson", order: DESC) {
    edges {
      node {
        season
        games
        commands{
          title
          place
          game
          squad
        }
      }
    }
  }
}
</static-query>


