<template>
  <main>
      <div class="hero is-light" style="box-shadow: rgba(0, 0, 0, 0.173) 0px 7px 25px; margin-bottom: 1.5rem">
          <div class="section" style="padding: 0.5rem 0rem">
              <div class="container has-text-centered">
                  <a href="https://italent.org.ua" target="_blank">
                      <img :src="colorlogo_path" :style="{'max-height': `${$isMobile() ? 50 : 100}px`}"/>
                  </a>
              </div>
          </div>
      </div>

    <section>
      <div class="columns">
        <div class="column container is-half">
          <div class="card">
            <header class="header">
              <p class="title is-4 card-header-title">
                Роботи 7 сезону
              </p>
            </header>
            <div class="card-content">
              <div class="buttons">
                <g-link class="button"
                        v-for="(nomination) in $static.newNominations.edges"
                        :to="'/season7/'+nomination.node.slug" :key="nomination.node.id"
                >{{nomination.node.title}}
                </g-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section v-for="({node}) in $static.seasons.edges" :key="node.id">
      <div class="columns">
        <div class="column container is-half">
          <div class="card" :id="node.id">
            <div class="card-image">
              <figure class="image is-16by9">
<!--                <g-image :src="'~/assets/img/'+node.id+'.jpg'"/>-->
                <g-image v-if="node.id == 2" src="~/assets/img/2.jpg" alt="Призентація роботи" width="1280"/>
                <g-image v-if="node.id == 3" src="~/assets/img/3.jpg" alt="Ігор Меліхов призентує свій проект у ЦеХАБ'і підчас 3 сезону iTalent" width="1280"/>
                <g-image v-else-if="node.id == 4" src="~/assets/img/4.jpg" alt="Волонтерський склад iTalent 4 сезон нагороджують " width="1280"/>
                <g-image v-else-if="node.id == 5" src="~/assets/img/5.jpg" alt="Відкритя 5 сезону iTalent" width="1280"/>
                <g-image v-else-if="node.id == 6" src="~/assets/img/6.jpg" alt="Людина яка грає і люди які її оточують дивляться в монітор на стенді від Logitech на фіналі 6 сезону, у UNIT.City." width="1280"/>
              </figure>
            </div>
              <header class="card-header">
                  <p class="title is-4 card-header-title">
                      Учасники iTalent {{node.id}} сезону
                  </p>
              </header>
              <div class="card-content">
                  <div class="content" v-html="node.desc"></div>
                  <hr>
                  <div class="buttons">
                      <g-link class="button is-cyber"
                              v-for="(game) in getGames(node.id)"
                              :to="`/cybersport/#${node.id}${game}`" :key="game">{{game}}
                      </g-link>
                      <g-link class="button"
                              v-for="(nomination) in $static.nominations.edges.filter((node2) => node2.node.season == node.id)"
                              :to="nomination.node.path" :key="nomination.node.id">{{nomination.node.title}}
                      </g-link>
                  </div>
              </div>
              <footer class="card-footer">
                  <a class="button card-footer-item" :href="node.photos_url" target="_blank"
                          rel="noreferrer">
                      <b-icon icon="images"></b-icon>
                      <span>ФОТОЗВІТ</span>
                  </a>
                  <g-link class="button card-footer-item is-sun" :to="'/season'+ node.id">
                      <b-icon icon="trophy"></b-icon>
                      <span>Переможці</span>
                  </g-link>
              </footer>

          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<static-query>
query {
  cybers: allCyberSeason (sortBy: "seasson", order: ASC) {
    edges {
      node {
        season
        games
      }
    }
  }
  nominations: allNomination (sortBy: "title", order: ASC) {
    edges {
      node {
        id
        title
        season
        path
      }
    }
  }
  seasons: allSeason (sortBy: "id", order: DESC) {
      edges {
        node {
          id
          desc
          photos_url
        }
      }
    }
newNominations: allNewNomination(order: ASC) {
edges {
node {
id
title
slug
}
}
}
  }
</static-query>

<script>
    import colorlogo_path from '~/assets/svg/color-logo.svg';
    export default {
        data(){
            return {
                colorlogo_path
            }
        },
        metaInfo: {
            title: 'Учасники та переможці'
        },
        methods: {
            getGames(season){
                let resp = this.$static.cybers.edges.filter((node2) => node2.node.season == season);
                if(resp.length == 0 ) return [];
                return resp[0].node.games;
            }
        }
    }
</script>

