  <template>
    <div>
      <b-navbar :fixed-top="!isTouch" :fixed-bottom="isTouch" :mobile-burger="false">
        <template slot="brand">
          <b-navbar-item>
            <b-dropdown aria-role="list" hoverable :mobile-modal="false" :class="{'is-up': isTouch}">
              <button class="button is-primary" slot="trigger">
                <span v-if="season == -1">Оберіть сезон</span>
                <span aria-role="listitem" v-else>{{season}} сезон</span>
                <b-icon :icon=" isTouch ? 'chevron-up' : 'chevron-down'"></b-icon>
              </button>

              <b-dropdown-item
                               aria-role="listitem"
                               v-for="iseason in seasons"
                               :key="iseason"
                               @click="(val) => {season = iseason; chosed_nomination = -1;}"
                               :class="(iseason == season ? ' is-active' : '')"
              >iTalent {{iseason}} сезон</b-dropdown-item>
            </b-dropdown>
          </b-navbar-item>
          <b-navbar-item v-if="season != -1">
            <b-dropdown aria-role="list" hoverable :mobile-modal="false" :class="{'is-up': isTouch}">
              <button class="button is-primary" slot="trigger" :class="{'is-danger': chosed_nomination == -1}">
                <span v-if="chosed_nomination == -1">Оберіть номінацію</span>
                <span v-for="game in cyber((node2) => node2.node.season == season)" :key="game" v-if="game === chosed_nomination">{{game}}</span>
                <span v-for="nomination in $static.nominations.edges" :key="nomination.node.id" v-if="nomination.node.id === chosed_nomination">{{nomination.node.title}}</span>
                <b-icon :icon=" isTouch ? 'chevron-up' : 'chevron-down'"></b-icon>
              </button>
              <b-dropdown-item custom aria-role="menuitem" >
                <b class="has-text-danger title is-6">{{winners_mode ? "Переможці" : "Учасники"}}</b>
              </b-dropdown-item>
              <b-dropdown-item aria-role="listitem" has-link v-for="nomination in $static.nominations.edges" :key="nomination.node.id" v-if="nomination.node.season == season">
                <g-link :to="winners_mode ? `/season${season}#${nomination.node.id}`: nomination.node.path" :class="'dropdown-item ' + (nomination.node.id === chosed_nomination ? 'is-active' : '')">{{nomination.node.title}}</g-link>
              </b-dropdown-item>
              <div v-if="winners_mode">
                <b-dropdown-item separator></b-dropdown-item>
                <b-dropdown-item v-for="game in cyber((node2) => node2.node.season == season)" :key="game" aria-role="listitem" has-link class="is-cyber">
                  <g-link :to="`/cybersport/#${season}${game}`" :class="'dropdown-item is-cyber ' + (game === chosed_nomination ? 'is-active' : '')">{{game}}</g-link>
                </b-dropdown-item>
              </div>
              <b-dropdown-item separator></b-dropdown-item>
              <b-dropdown-item custom aria-role="menuitem" class="has-text-centered">
                <g-link class="button" :to="winners_mode ? `/#${season}` : `/season${season}`">{{winners_mode ? "Учасники" : "Переможці"}}</g-link>
              </b-dropdown-item>

            </b-dropdown>
          </b-navbar-item>
        </template>
      </b-navbar>
      <main>
        <slot/>
      </main>
      <div class="footer has-background-white-ter">
        <div class="content has-text-centered">
            <a href="https://italent.org.ua/" target="_blank">iTalent</a>
        </div>
      </div>
    </div>
  </template>

  <script>
    export default {
      props: {
        season: {
          type: String,
          default: -1
        },
        chosed_nomination: {
          type: Number|String,
          default: -1
        },
        winners_mode: {
          type: Boolean,
          default: false
        }
      },
      data() {
        return {
          isTouch: true,
          seasons: [6,5,4,3,2]
        }
      },
      async mounted(){
        this.isTouch = 'ontouchstart' in window || 'onmsgesturechange' in window;
      },
      methods:{
        cyber(filter){
          let edges = this.$static.cybers.edges.filter((filter));
          if(edges.length > 0) return edges[0].node.games;
          return [];
        }
      }
    }
  </script>
  <static-query>
  query{
    cybers: allCyberSeason {
      edges {
        node {
          season
          games
        }
      }
    }
    nominations: allNomination (sortBy: "title", order: ASC) {
      edges {
        node {
          id
          title
          path
          header
          season
          haveCategory
          haveWrong
        }
      }
    }
  }
  </static-query>

  <style>
  </style>
